__pycache__/
*.pyc
.venv/
venv/
/old_experiments/
data/*
plots/renders/*
training_random_base_model/renders/*

# environments & secrets
.env
!.env.template

# wandb run logs
wandb/
*/wandb/

# profiling / job artifacts
*.prof
gmon.out

*.pt
*.bin
*.safetensors
*.pkl

*.csv
*.pyc
*.out
*.err
*.log

*.wandb
*.wandb.synced
*.tar.gz
*/wandb/

*.env
*.bin
*.safetensors
*.pkl
*.json
!training_random_base_model/configs/**/*.json
*.yaml
*.txt
*.scratch_clean_remove_empty
*.parquet
*.sif