__pycache__/experiment_1.cpython-312.pyc
/old_experiments/
data/*

*.pt
*.bin
*.safetensors
*.pkl

*.csv
*.pyc
*.out
*.err
*.log
*.json

*.wandb
*.wandb.synced
*.tar.gz
*/wandb/

*.env
*.bin
*.safetensors
*.pkl
*.json
*.yaml
*.txt
*.scratch_clean_remove_empty